/* styles.css */
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBB7C0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
    
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
    
}

nav li a{
    color: #A71414;
    text-decoration: none;
    font-family: 'Mohave', sans-serif;
    
}

nav li a:hover{
    color: #ffffff;
    padding: 8px;
    margin: -8px;
    background-color: #2B4872; 
    border-radius: 20px;
}


.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

.iconos {
    display: flex;
    
}

.iconos a {
    margin: 0 10px;
    color: #A71414;
    font-size: 18px;
}
.iconos a:hover {
   
    color: #2B4872;
    
}


/* aquì se implementan los estilos css para la seccion uno*/

.principal {
    background-image: url('../imagen/fondo1.jpg');
    background-size: cover;
    background-position: center;
    height: 600px; /* Ajusta la altura según tus necesidades */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.contenidouno {
    width: 100%;
    height: 600px;
    text-align: center;
    color: #000000;
    padding: 2px;
    background: #00000000;
    
}

.contenidouno h1{
    margin-top: 220px;
    margin-bottom: 15px;
    font-family: "Teko", sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 45px;
}

.contenidouno h2{
    margin-bottom: 15px;
    font-family: "Mohave", sans-serif;

}

.contenidouno p{
    margin-bottom: 30px;
    margin-top: 35px;
    font-family: "Anek Kannada", sans-serif;
}

.buttons {
    display: flex;
    justify-content:center;

}

.button {
    background-color: #ffffff;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
    font-family: "Readex+Prowg", sans-serif;
}

.button:hover {
    background-color: #000000;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin: 0 30px;
}


/*estilos para el contenido dos*/

.banner {
    background-image: url('../imagen/CODIGO.jpg');
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidodos {
    width: 100%;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 2px;
    background: #000000eb;
    font-family: "Mohave", sans-serif;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 20px;
}

.contenidodos h2{
    margin-top: 100px;
    margin-bottom: 20px;
}


.figuras {
    display: flex;
    justify-content: center;
}

.figuras a {
    margin: 0 10px;
    color: #faf7f7;
    font-size: 18px;
}
.figuras a:hover {
   
    color: #f6ff00;
    
}




/*creando la seccion 03 del contenido de la pagina*/

  .galeria {
    background-color: #06316e;
    padding: 50px 0;
  
    }

  .galeria h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: "Mohave", sans-serif;
  }

  .galeria p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    line-height:5px ;
    margin-bottom: 10px;
    font-family: "Anek Kannada", sans-serif;
  }

  .contenidotres {
    max-width: 1200px;
    height: 370px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .contenidotres .columna {
    flex: 1;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
  }

  .contenidotres .columna img {
    max-width: 100%;
    height: auto;
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 20px;
    color: #fff;
    
  }

  .contenidotres .columna p {
    margin-top: 10px;
    text-align: justify;
    line-height: 20px;
    font-family: "Anek Kannada", sans-serif;
    color: #fff;
  }

  .contenidotres .columna a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #A71414;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .contenidotres .columna a:hover {
    background-color: #ffffff;
    color: #000000;
  }


  
  /*creando el Footer - pie de pagina final de
  la pagina*/
  
  .footer {
    background-color: #041d40;
    color: #fff;
    padding: 20px;
  }
  
  .filas{
    display: flex;
    flex-direction: column; 
    margin-bottom: 10px;
  }
  
  h3 {
    color: #fff;
    margin: 0;
    font-family: "Anek Kannada", sans-serif;
    display: inline;
  }
  
  
  p {
    color: #fff;
    margin: 0;
    justify-content: right;
    font-family: "Anek Kannada", sans-serif;
  }
  
  .social-icons1 {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }
  


  /* Aquí puedes agregar tu CSS */
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    margin-top: -60px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #d5f0f4;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #f6ff00; /* Cambia esto según el color que desees para el hover */
}

.social-icons1 h4 {
    margin-top: 10px; 
    color: #d5f0f4;
    font-size: 12px; 
    font-family: "Mohave", sans-serif;
    text-align: right; 
    display: block; 
}
  

  