*{
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FBB7C0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    z-index:1000;
    font-family: "Tajawal", serif;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #1e1e1e;
    font-weight: bold;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: #782330; 
    background-color: #F894A3;
    padding: 10px;
    margin: -10px;
    border-radius: 20px;

}

nav ul li i {
    margin-right: 8px;
}


.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

main {
    padding: 120px 20px 20px;
}

.principal {
    background-image: url('../imagen/fondo1.jpg');
    background-size: cover;
    background-position: center;
    height: 100px; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 40px;
    border: 2px solid black;
}

.principal h1 {
    font-size: 36px;
    color: #1e1e1e;
    text-align: center;
    font-family: "Tajawal", serif;
    text-transform: bold;
}

.opinions-gallery {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    width: 92%; 
    margin: 20px auto; 
    padding: 20px; 
}

.opinion-card {
    background-color: #ffe8e8; 
    padding: 20px;
    border-radius: 40px; 
    text-align: center;
    transition: transform 0.2s; 
    border: 2px solid black;
    position: relative; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 150px; 
}

.opinion-card:hover {
    transform: scale(1.25);
    z-index:900;
}

.opinion-card i {
    color: #782330;  
    font-size: 24px; 
    position: absolute; 
    top: 20px; 
    left: 30px; 
}

.opinion-card p {
    margin: 10px 0; 
    font-size: 16px; 
    font-family: "Gabarito", sans-serif;
    color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
}


footer {
    background-color: #FBB7C0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div {
    display: flex;
    flex-direction: column;
}

footer a {
    color: #1e1e1e;
    text-decoration: none;
    margin: 5px 0;
    font-family: "Gabarito", sans-serif;
}

footer .social-media a {
    margin-left: 10px;
}

footer .social-media a :hover {
    color: #782330;
}

footer h4 {
    margin-bottom: 10px;
    color: #1e1e1e;
    font-family: "Gabarito", sans-serif;
}
